In [3]:
import subprocess
import os
import pandas
from pathlib import Path

In [4]:
# Verify the working of the conda environment
subprocess.run(["python", "--version"])
subprocess.run(["which", "python"])

Python 3.10.16
/mnt/home/khanalni/.conda/envs/hope_env/bin/python

CompletedProcess(args=['which', 'python'], returncode=0)

In [5]:
base_data_path = Path("/mnt/projects/zhuangyo_project/EMRBots")
large_data  = Path("large") # 100000 patients
small_data = Path("small") # 10000 patients
tiny_data = Path("tiny") # 100 patients 
files_path = tiny_data

full_data_path = base_data_path / files_path

# files = os.listdir(base_data_path / files_path )
files = [
    'AdmissionsCorePopulatedTable.txt', 
    'AdmissionsDiagnosesCorePopulatedTable.txt', 
    'LabsCorePopulatedTable.txt', 
    'PatientCorePopulatedTable.txt'
    ]

In [6]:
adm_core_df = pandas.read_csv(full_data_path / files[0], delimiter='\t')
adm_diag_df = pandas.read_csv(full_data_path / files[1], delimiter='\t')
patient_df = pandas.read_csv(full_data_path / files[3], delimiter='\t')

In [7]:
# Takes time to load for larger datasets
labs_df = pandas.read_csv(full_data_path / files[2], delimiter='\t')

In [8]:
patient_df.info(), adm_core_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   PatientID                                100 non-null    object
 1   PatientGender                            100 non-null    object
 2   PatientDateOfBirth                       100 non-null    object
 3   PatientRace                              100 non-null    object
 4   PatientMaritalStatus                     100 non-null    object
 5   PatientLanguage                          100 non-null    object
 6   PatientPopulationPercentageBelowPoverty  100 non-null    float64
dtypes: float64(1), object(6)
memory usage: 5.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PatientID           372 non-null    object
 1   AdmissionID         372 non-null    int64
 2   AdmissionStartDate  372 non-null    object
 3   AdmissionEndDate    372 non-null    object
dtypes: int64(1), object(3)
memory usage: 11.8+ KB

(None, None)

In [9]:
adm_diag_df.info(), labs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   PatientID                    372 non-null    object
 1   AdmissionID                  372 non-null    int64
 2   PrimaryDiagnosisCode         372 non-null    object
 3   PrimaryDiagnosisDescription  372 non-null    object
dtypes: int64(1), object(3)
memory usage: 11.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111483 entries, 0 to 111482
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   PatientID    111483 non-null  object
 1   AdmissionID  111483 non-null  int64
 2   LabName      111483 non-null  object
 3   LabValue     111483 non-null  float64
 4   LabUnits     111483 non-null  object
 5   LabDateTime  111483 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 5.1+ MB

(None, None)

In [10]:
patient_df.head()

,PatientID,PatientGender,PatientDateOfBirth,PatientRace,PatientMaritalStatus,PatientLanguage,PatientPopulationPercentageBelowPoverty
0,FB2ABB23-C9D0-4D09-8464-49BF0B982F0F,Male,1947-12-28 02:45:40.547,Unknown,Married,Icelandic,18.08
1,64182B95-EB72-4E2B-BE77-8050B71498CE,Male,1952-01-18 19:51:12.917,African American,Separated,English,13.03
2,DB22A4D9-7E4D-485C-916A-9CD1386507FB,Female,1970-07-25 13:04:20.717,Asian,Married,English,6.67
3,6E70D84D-C75F-477C-BC37-9177C3698C66,Male,1979-01-04 05:45:29.580,White,Married,English,16.09
4,C8556CC0-32FC-4CA5-A8CD-9CCF38816167,Female,1921-04-11 11:39:49.197,White,Married,English,18.20

In [11]:
adm_core_df.head()

,PatientID,AdmissionID,AdmissionStartDate,AdmissionEndDate
0,7A025E77-7832-4F53-B9A7-09A3F98AC17E,7,2011-10-12 14:55:02.027,2011-10-22 01:16:07.557
1,DCE5AEB8-6DB9-4106-8AE4-02CCC5C23741,1,1993-02-11 18:57:04.003,1993-02-24 17:22:29.713
2,DCE5AEB8-6DB9-4106-8AE4-02CCC5C23741,2,2002-11-28 19:06:31.117,2002-12-04 19:14:40.797
3,DCE5AEB8-6DB9-4106-8AE4-02CCC5C23741,3,2011-07-19 18:42:45.287,2011-07-25 04:57:42.053
4,886B5885-1EE2-49F3-98D5-A2F02EB8A9D4,1,1994-12-03 22:20:46.077,1994-12-20 20:24:56.010

In [12]:
adm_diag_df.head()

,PatientID,AdmissionID,PrimaryDiagnosisCode,PrimaryDiagnosisDescription
0,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,2,M01.X,Direct infection of joint in infectious and pa...
1,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,3,D65,Disseminated intravascular coagulation [defibr...
2,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,4,C92.1,"Chronic myeloid leukemia, BCR/ABL-positive"
3,80AC01B2-BD55-4BE0-A59A-4024104CF4E9,5,M05.51,Rheumatoid polyneuropathy with rheumatoid arth...
4,6A57AC0C-57F3-4C19-98A1-51135EFBC4FF,1,C91.00,Acute lymphoblastic leukemia not having achiev...

In [13]:
labs_df.head()

,PatientID,AdmissionID,LabName,LabValue,LabUnits,LabDateTime
0,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,URINALYSIS: RED BLOOD CELLS,1.8,rbc/hpf,1992-07-01 01:36:17.910
1,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,METABOLIC: GLUCOSE,103.3,mg/dL,1992-06-30 09:35:52.383
2,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,CBC: MCH,35.8,pg,1992-06-30 03:50:11.777
3,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,METABOLIC: CALCIUM,8.9,mg/dL,1992-06-30 12:09:46.107
4,1A8791E3-A61C-455A-8DEE-763EB90C9B2C,1,CBC: RED BLOOD CELL COUNT,4.8,m/cumm,1992-07-01 01:31:08.677

In [14]:
adm_diag_df['PrimaryDiagnosisCode'].value_counts()

PrimaryDiagnosisCode
Z22.31    3
O99.43    2
E08.32    2
E09.62    2
M90.6     2
         ..
F25.0     1
C75.1     1
C71.8     1
O9A.1     1
C21.8     1
Name: count, Length: 349, dtype: int64

In [16]:
labs_df.value_counts('LabName')

LabName
CBC: NEUTROPHILS                 3224
METABOLIC: CARBON DIOXIDE        3218
URINALYSIS: WHITE BLOOD CELLS    3218
CBC: HEMATOCRIT                  3211
CBC: ABSOLUTE NEUTROPHILS        3210
CBC: WHITE BLOOD CELL COUNT      3209
METABOLIC: SODIUM                3207
METABOLIC: GLUCOSE               3202
CBC: MCHC                        3202
METABOLIC: ALBUMIN               3202
CBC: HEMOGLOBIN                  3193
METABOLIC: CREATININE            3193
CBC: MCH                         3191
CBC: EOSINOPHILS                 3191
METABOLIC: CHLORIDE              3190
CBC: RDW                         3188
URINALYSIS: PH                   3187
URINALYSIS: RED BLOOD CELLS      3187
METABOLIC: POTASSIUM             3185
METABOLIC: BILI TOTAL            3182
URINALYSIS: SPECIFIC GRAVITY     3181
METABOLIC: CALCIUM               3179
METABOLIC: AST/SGOT              3179
CBC: PLATELET COUNT              3177
METABOLIC: TOTAL PROTEIN         3177
CBC: MEAN CORPUSCULAR VOLUME     3175
CBC: RED BLOOD CELL COUNT        3174
METABOLIC: ANION GAP             3166
CBC: BASOPHILS                   3165
CBC: ABSOLUTE LYMPHOCYTES        3162
CBC: LYMPHOCYTES                 3162
METABOLIC: BUN                   3158
METABOLIC: ALT/SGPT              3155
METABOLIC: ALK PHOS              3154
CBC: MONOCYTES                   3129
Name: count, dtype: int64